CajaBanco/CajaBanco/Connected Services/CoreGeneral/General.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SelectTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderByColumn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apiKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cloner">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClonerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClonerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SelectTableSoapIn">
    <wsdl:part name="parameters" element="tns:SelectTable" />
  </wsdl:message>
  <wsdl:message name="SelectTableSoapOut">
    <wsdl:part name="parameters" element="tns:SelectTableResponse" />
  </wsdl:message>
  <wsdl:message name="ClonerSoapIn">
    <wsdl:part name="parameters" element="tns:Cloner" />
  </wsdl:message>
  <wsdl:message name="ClonerSoapOut">
    <wsdl:part name="parameters" element="tns:ClonerResponse" />
  </wsdl:message>
  <wsdl:portType name="GeneralSoap">
    <wsdl:operation name="SelectTable">
      <wsdl:input message="tns:SelectTableSoapIn" />
      <wsdl:output message="tns:SelectTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cloner">
      <wsdl:input message="tns:ClonerSoapIn" />
      <wsdl:output message="tns:ClonerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GeneralSoap" type="tns:GeneralSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectTable">
      <soap:operation soapAction="http://tempuri.org/SelectTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cloner">
      <soap:operation soapAction="http://tempuri.org/Cloner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GeneralSoap12" type="tns:GeneralSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectTable">
      <soap12:operation soapAction="http://tempuri.org/SelectTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cloner">
      <soap12:operation soapAction="http://tempuri.org/Cloner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="General">
    <wsdl:port name="GeneralSoap" binding="tns:GeneralSoap">
      <soap:address location="https://corebanco20230422004045.azurewebsites.net/General.asmx" />
    </wsdl:port>
    <wsdl:port name="GeneralSoap12" binding="tns:GeneralSoap12">
      <soap12:address location="https://corebanco20230422004045.azurewebsites.net/General.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>